@{
    ViewBag.Title = "Estado actual";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Estado actual</h1>
    <p>El estado actual de la aplicación es: <label>@ViewBag.EstadoActual</label></p>
</body>
</html>
